.EditTask{
	width : 25em;
}

.taskForm{
	width: 20em;
	margin-top:2.5em;
	margin-right: 2.5em;
	margin-left: 2.5em;
}

.titleInput{
	font-size: 1em;
	width: 100%;
}

.descInput{
	font-size: 1em;
	width:100%;
	height: 6em;
	resize: none;
}

.timeInput{
	font-size: 1em;
	width: 100%;
}

.errorMsg{
	color: red;
	font-style: bold;
}

.datePicker{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: white
}