.StaticTask{
	display: inline-flex;
	margin: 0.5em;

}

.buttons{
	display: inline-flex;
	justify-content: space-around;
}

.form-item{
	align-self: center;
	font-size: 2em;
	display: flex;
	align-items: center;
}
.buttonCell{
	padding:0;
	margin:0;
	height: 100%;
}

.quickComplete{
	padding: 0;
	margin:0;
	background-color: green;
	width: 3em;
	height:100%;
}

.complete{
	height:100%;
}


.dueDate{
	font-style: italic;
	font-size: 0.75em;
}

.sTaskInput{
	width:3em;
	font-size: 1em;
}

.completing-btns{
	height: 2em;
}

.color{
	display: box;
	margin: 2.5%;
	width: 95%;
	height: 1em;
	background-color: red;
}

input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}