.ZoomedDay{
	position: fixed;
	margin:auto;
	height: 45em;
	width: 45em;
	left: 0;
	padding: 2.5em;
	right: 0;
	background-color: #f4f8ff;
}

.add-item-btn{
	width: 3em;
	height: 3em;
	margin:0;
	padding: 0;
	cursor: pointer;
}
